<ion-alert view-title="Dream">


<div class="list card">

  <div class="item item-avatar">
    <img src="http://pbs.twimg.com/profile_images/546942133496995840/k7JAxvgq.jpeg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="http://pbs.twimg.com/profile_images/546942133496995840/k7JAxvgq.jpeg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Activity in the hotel
  </a>
  <button ng-click="closeModal()">CLICK</button>
</div>

<ion-alert>