<ion-view view-title="Dream" conrtoller="search">

      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image" ng-controller="search">
            <div class="no-text">NOPE</div>
            <img ng-src="{{card.img}}">
            <div class="yes-text">LIKE</div>
            <ion-item href="#/app/playlists/{{card.id}}">
             THIS IS THE CARDE NUMBER {{card.title}}
            </ion-item>
          </div>

        </td-card>

</ion-view>